<section class="section-aboutme">
	
	<h3 id="know-me">About</h3>

	<div class="face-lockup">
		<div class="face-img" style="background-image: url(assets/img/face.jpg)"></div>

		<div class="icon-brush">{% include icons/icon-brush.html %}</div>
		<div class="icon-code">{% include icons/icon-code.html %}</div>
		<div class="icon-blog">{% include icons/icon-blog.html %}</div>
		<div class="icon-think">{% include icons/icon-think.html %}</div>

	</div>

	<div class="blurb">
		<p>
			<strong>A 19-year old</strong>, living in Hyderabad who <strike>hates listening boring lectures</strike> is trying to move mountains. He is striving to fulfill his role in this universe.
		</p>
	</div>

	<div class="skill-lockup">

		<div class="skill-unit">
			<div class="sill-label">Communication</div>
			<div class="skill-icons skill-8">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="sill-label">Organisation</div>
			<div class="skill-icons skill-6">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="sill-label">Learning</div>
			<div class="skill-icons skill-9">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="sill-label">Teaching</div>
			<div class="skill-icons skill-4">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="sill-label">Programming</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="sill-label">Design</div>
			<div class="skill-icons skill-8">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>


	</div>

</section>